.wrapper {
  width: 100%;
  padding: 8px 20px;
  background-color: #FF5F5D;
  display: flex;
  position: sticky;
  top: 0;
}

.wrapper h3 {
  margin: 0;
  line-height: 1;
  font-weight: 900;
  color: #fff;
  margin-right: 2rem;
  line-height: 40px;
}

.navItems {
  display: flex;
  width: 100%;
}

.navItems a {
  padding: 0 12px;
  border-radius: 8px;
  transition: .25s ease-in-out;
  background-color: rgba(255,255,255,0);
  /* line-height: 40px; */
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}

.navItems active {
  font-weight: 600;
}

.navItems a:hover {
  /* background-color: rgba(255,255,255,0.4); */
  background-color: #f2f2f2;
}

.navItems a:last-child {
  margin-left: auto;
  font-weight: 900;
}

.navMobile {
  display: none;
}

@media only screen and (max-width: 720px) {
  /* .wrapper {
    display: none;
  } */
  .navItems {
    /* display: none; */
    position: absolute;
    top: 55px;
    background: #FF5F5D;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    padding: 1rem;
    transition: all .3s;
  }

  .navItemsOpen {
    display: flex;
  }

  .navItems a {
    margin-bottom: 1rem;
  }

  .navItems a:last-child {
    margin-left: inherit;
    font-weight: 900;
  }

  .navMobile {
    display: block;
    line-height: 38px;
    margin-left: auto;
  }
}