.container {
  max-width: 900px;
  margin: 0 auto;
  color: #ffffff;

  font-weight: 300;
  font-size: 1.3rem;
  padding: 0 20px;
  padding-bottom: 10rem;
}

.container h1 {
  font-size: 4rem;
}

.container a {
  text-decoration: underline;
}