.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #FF5F5D !important;
}

.subtitle {
  margin: 0;
  line-height: 1;
  font-size: 64px;
  font-weight: 900;
  /* height: 600px; */
  /* overflow-y: scroll; */
}

.title,
.description,
.subtitle {
  text-align: left;
  color: #fff;
}

.title mark, .subtitle mark {
  color: #fff;
  /* background-color: #FF5F5D; */
  background-color: transparent;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.wrapper {
  width: 100%;
  display: flex;
  padding: 120px 40px;
}

.quote {
  max-width: 800px;
  min-height: 600px;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  margin: 1rem;
}

.button svg {
  color: white;
  transition: all .3s;
}

.button:hover svg{
  color: #FF5F5D;
}

.xxl {
  font-size: 42px;
}
.xl {
  font-size: 36px;
}
.lg {
  font-size: 34px;
}
.md {
  font-size: 32px;
}
.sm {
  font-size: 29px;
}
.xs {
  font-size: 26px;
}

@media only screen and (max-width: 720px) {
  .wrapper {
    flex-direction: column;
    padding: 55px 20px;
  }

  .quote {
    min-height: 0;
  }
  .buttons {
    display: none;
  }

  .xxl {
    font-size: 38px;
  }
}